.github/
.type-coverage/
.vscode/
coverage/
src/
types/

dist/**/*
!dist/**/*.js
!dist/**/*.d.ts

.editorconfig
.eslintcache
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierrc.js
.tsbuildinfo
eslint.config.js
tsconfig.eslint.json
tsconfig.json
*.map
*.tsbuildinfo
